asgiref==3.5.0; python_version >= "3.7"
cffi==1.15.0; python_version >= "3.6"
cryptography==36.0.1; python_version >= "3.6"
django-ninja==0.17.0; python_version >= "3.6"
django==3.2.13; python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pydantic==1.9.0; python_full_version >= "3.6.1" and python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.6"
pytz==2021.3; python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.6"
typing-extensions==4.1.0; python_full_version >= "3.6.1" and python_version >= "3.6"
